.box {
  position: absolute !important;
  background: #eee;
}

.box__close {
  display: block;
  content: '';
  position: absolute;
  right: 8px;
  top: -8px;
  height: 16px;
  width: 16px;
  background: rgb(255, 0, 0);
  cursor: pointer;
  z-index: 1;
}

.box__close:hover {
  background: rgb(225, 0, 0);
}

.box__close:active {
  background: rgb(0, 0, 0);
}