.video-load {
  padding: 20px;
  text-align: center;
}

.video-load input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.video-load input:focus {
  border: 1px solid rgb(0, 0, 0);
  outline: none;
}

.video-load input.error {
  border: 1px solid red;
}

.video-load button {
  box-sizing: border-box;
  padding: 5px 20px;
  background: #000; 
  color: white;
  border: none;
}

.video-load button:hover {
  background: #333;
}

.video-load button:active {
  background: #000;
}

.video-load button:focus {
  outline: none;
  background: #555;
}

.video-thumb {
  width: 100%;
  height: 100%;
  display: block;
}
