<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add, upload, drag and resize</title>
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>

  <script type="text/template" id="controls">
    <div class="controls">
      <button class="controls_add-photo">Добавить фото</button>
      <button class="controls_add-video">Добавить видео</button>
    </div>
  </script>

  <script type="text/template" id="image-view">
    <% if (model.get('src')) { %>
      <img src="<%= model.get('src') %>" alt="<%= model.get('alt') %>" />
    <% } else { %>
      <div class="image__upload-form">
        <input type="file" />
      </div>
    <% }%>
  </script>

  <script type="text/template" id="video-view">
    <% if (preview) { %>
      <img src="<%= preview %>" alt="" />
    <% } else { %>
      <div class="video__load-form">
        <input type="text" value="https://www.youtube.com/watch?v=ScK1_uPz5_o" />
        <button>OK</button>
      </div>
    <% }%>
  </script>

  <script type="text/template" id="box-view">
    <div class="box__close"></div>
  </script>

  <script src="js/config.js"></script>
  <script src="js/views/app-view.js"></script>
  <script src="js/views/resizable.js"></script>
  <script src="js/views/box.js"></script>
  <script src="js/views/image.js"></script>
  <script src="js/views/video.js"></script>
  <script src="js/models/box.js"></script>
  <script src="js/models/image.js"></script>
  <script src="js/models/video.js"></script>
  <script src="js/collections/boxes.js"></script>
  <script src="js/app.js"></script>
</body>
</html>